:root {
    --bgc-white: rgb(255, 255, 255);
    --titleColor-white: rgb(255, 255, 255);
    --textColor-white: rgb(255, 255, 255);
    --linkColor-white: rgb(255, 255, 255);
    --bgc-dark-white: rgb(248, 248, 255);

    --navColor-white-op60: rgba(255, 255, 255, 0.6);
    --textColor-white-op60: rgba(255, 255, 255, 0.6);

    --titleColor-dark-op90: rgba(0, 0, 0, 0.9);
    --copyrightColor-dark-op90: rgba(0, 0, 0, 0.9);

    --textColor-dark-blue: rgb(35, 37, 54);
    --textColor-dark-blue-op09: rgb(35, 37, 54, 0.9);
    --textColor-dark-blue-op06: rgb(35, 37, 54, 0.6);
    --linkColor-dark-blue: rgb(35, 37, 54);
    --inputColor-dark-blue: rgb(35, 37, 54);
    --animationBgc-dark-blue: rgb(35, 37, 54);
    --headerBgc-dark-blue: rgb(35, 37, 54);
    --titleColor-dark-blue: rgb(35, 37, 54);

    --linkColor-purple: rgb(68, 76, 252);
    --linkBgc-purple: rgb(68, 76, 252);
    --bgc-purple: rgb(68, 76, 252);
    --linkColor-purple-op90: rgba(68, 76, 252, 0.9);
    --sectionBgc-purple: rgb(102, 109, 255);

    --navColor-orange: rgb(255, 161, 85);
    --bgc-light-orange: #ffe6d2;

    --textColor-gray: rgb(93, 95, 109);
    --blockBgc-gray-op-06: rgba(255, 255, 255, 0.06);

    --textColor-dark-blue-op-02: rgba(35, 37, 54, 0.2);

    --bgc-orange: rgb(255, 230, 210);

    --bgc-light-green: rgb(236, 248, 249);
    --bgc-veryLight-blue: rgb(249, 249, 255);

    --textColor-dark: rgb(0, 0, 0);

    --bgc-light-blue: rgb(236, 248, 249);
}
html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins-v22-latin_latin-ext-regular.woff2")
        format("woff2");
}
@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/poppins-v22-latin_latin-ext-italic.woff2")
        format("woff2");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/poppins-v22-latin_latin-ext-500.woff2") format("woff2");
}
@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/poppins-v22-latin_latin-ext-500italic.woff2")
        format("woff2");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/poppins-v22-latin_latin-ext-600.woff2") format("woff2");
}
@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/poppins-v22-latin_latin-ext-600italic.woff2")
        format("woff2");
}

body {
    background-color: var(--bgc-white);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main {
    flex-grow: 1;
}
.container-fluid {
    max-width: 1600px;
}
.container {
    max-width: 1300px;
    padding: 0 10px;
}
.container-fluid,
.container {
    margin: 0 auto;
}
.base-content {
    & > h2 {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: var(--titleColor-dark-op90);
    }
    & > p {
        margin-top: 20px;
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        color: var(--textColor-dark-blue);
    }
}
.base-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: var(--titleColor-dark-blue);
}
.base-button {
    width: 230px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 16px;
    span:first-child {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--linkColor-white);
    }
    span:last-child {
        width: 22px;
        height: 16px;
        background: url(../images/icons/base-link-arrow.svg) no-repeat;
    }

    background-color: var(--linkColor-purple);
    background-image: url(../images/icons/base-link-layer.svg);
    background-repeat: no-repeat;
    background-position: top left;
}
.base-link {
    line-height: 24px;
    color: var(--linkColor-purple-op90);
    padding-right: calc(14px + 25px);
    position: relative;
    text-transform: capitalize;
    font-weight: 400;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);
        width: 25px;
        height: 8px;
        background: url(../images/icons/arrow-black-2.svg) no-repeat;
    }
}
.base-list {
    display: flex;
    gap: 0 65px;
    li {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
    }
    li strong {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        color: var(--textColor-dark-blue);
    }
    li span {
        font-weight: 400;
        line-height: 24px;
        color: var(--textColor-dark);
        text-transform: capitalize;
        position: relative;
        padding-top: 10px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 6px;
            background: url(../images/icons/about-layer.svg) no-repeat;
        }
    }
}
address.base-author {
    display: flex;
    align-items: center;
    gap: 0 10px;
    div:first-of-type {
        width: 32px;
        height: 32px;
    }
    div:last-of-type {
        display: flex;
        flex-direction: column;
        a {
            font-weight: 400;
            line-height: 24px;
            color: var(--textColor-dark-blue-op09);
            font-size: 16px;
        }
        time {
            line-height: 20px;
            color: var(--textColor-dark-blue-op06);
        }
    }
}
a.nav-link.is-active {
    color: var(--linkColor-white);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        transform: translate(0%, -100%);
        height: 3px;
        background-color: var(--navColor-orange);
    }
}
div.tab-buttons > button.is-active {
    color: var(--linkColor-purple);
    position: relative;
    height: 100%;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        transform: translate(0%, 100%);
        left: 0;
        right: 0;
        border-bottom: 4px solid var(--linkColor-purple);
    }
}
div.tab-info > article.is-show {
    display: block;
}
.base-item {
    & > h2 {
        font-weight: 600;
        line-height: 28px;
        color: var(--textColor-dark);
        text-transform: capitalize;
    }
    & > p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
        color: var(--textColor-gray);
    }
}

/* header */

.header-top {
    border-bottom: 1px solid gray;
    background: var(--headerBgc-dark-blue);
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
    }
    .top-logo {
        width: 122px;
        height: 25px;
    }
    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 30px;
    }
    .nav-item {
        &:last-child {
            a {
                color: #ffd3af;
                padding-right: 30px;

                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(0%, -50%);
                    width: 21px;
                    height: 8px;
                    background: url(../images/icons/base-link-arrow-2.svg)
                        no-repeat;
                }
            }
        }
    }
    .nav-link {
        color: var(--navColor-white-op60);
    }
}

/* process */

.process {
    padding: 100px 0;

    div.base-content {
        background: url(../images/icons/process-layer.svg) no-repeat;
        background-position: top 10% right;
        p {
            max-width: 700px;
        }
        span {
            margin-top: 16px;
            max-width: 640px;
            font-weight: 400;
            line-height: 24px;
            color: var(--textColor-dark-blue-op09);
        }
    }
}
.process-content {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 160px);
    gap: 53px;
}
.process-dotted {
    display: inline-flex;
    gap: 0px 2px;
    span {
        width: 8px;
        height: 2px;
        background: #dadadd;
    }
}
.process-item {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    &::before {
        position: absolute;
        top: 7%;
        right: 4%;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: var(--textColor-dark-blue-op-02);
    }
    &:first-child::before {
        content: "01";
    }
    &:first-child::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translate(0%, calc(100% + 1px));
        height: 8px;
        background: url(../images/icons/process-border.svg) no-repeat;
    }
    &:nth-child(2)::before {
        content: "02";
    }
    &:nth-child(3)::before {
        content: "03";
    }
    &:nth-child(4)::before {
        content: "04";
    }
    &:nth-child(5)::before {
        content: "05";
    }
    &:last-child::before {
        content: "06";
    }
    &:last-child::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: translate(0%, calc(-100% - 1px));
        height: 8px;
        background: url(../images/icons/process-border.svg) no-repeat;
    }
    &:nth-child(2)::after,
    &:nth-child(3)::after,
    &:nth-child(4)::after,
    &:nth-child(5)::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 54px;
        height: 2px;
        background: url(../images/icons/process-border-dashed.svg) no-repeat;
    }
    &:nth-child(2)::after,
    &:nth-child(3)::after {
        left: 0%;
        transform: translate(-100%, -50%);
    }
    &:nth-child(4)::after,
    &:nth-child(5)::after {
        right: 0%;
        transform: translate(100%, -50%);
    }

    border: 1px solid rgba(35, 37, 54, 0.2);
    padding: 12px 14px;
    .process-information {
        padding-left: calc(16px + 47px);
        p {
            font-weight: 400;
            max-width: 270px;
        }
    }
    &:first-child .process-information {
        background: url(../images/icons/discover.svg) no-repeat;
    }
    &:nth-child(2) .process-information {
        background: url(../images/icons/designing.svg) no-repeat;
    }
    &:nth-child(3) .process-information {
        background: url(../images/icons/development.svg) no-repeat;
    }
    &:nth-child(4) .process-information {
        background: url(../images/icons/testing.svg) no-repeat;
    }
    &:nth-child(5) .process-information {
        background: url(../images/icons/deployment.svg) no-repeat;
    }
    &:last-child .process-information {
        background: url(../images/icons/maintenance.svg) no-repeat;
    }
}

/* expertise */
.expertise {
    min-height: 100vh;
    background-color: var(--bgc-light-blue);
    display: flex;
}
.expertise-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .base-content {
        max-width: 620px;
        & span {
            margin-top: 20px;
            font-weight: 400;
            line-height: 24px;
            color: var(--textColor-gray);
        }
    }
}
.expertise-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0%, -100%);
        width: 16px;
        height: 16px;
        background-color: var(--sectionBgc-purple);
    }
}
.expertise-item {
    width: 510px;
    height: 140px;
    background-color: var(--bgc-white);
    padding-left: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    .expertise-information {
        position: relative;
        padding-left: calc(16px + 47px);
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 47px;
            height: 47px;
        }
        p {
            max-width: 300px;
        }
    }
    &:first-child {
        .expertise-information {
            &::before {
                background: url(../images/icons/expertise-duration.svg)
                    no-repeat;
            }
        }
    }
    &:nth-child(2) {
        .expertise-information {
            &::before {
                background: url(../images/icons/expertise-quality.svg) no-repeat;
            }
        }
    }
    &:last-child {
        background-image: url(../images/icons/expertise-layer.svg);
        background-repeat: no-repeat;
        background-position: bottom left;
        .expertise-information {
            &::before {
                background: url(../images/icons/expertise-support.svg) no-repeat;
            }
        }
    }
}
/* footer */

.send {
    background-color: var(--sectionBgc-purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 330px;
    padding: 0 100px;
    background-image: url(../images/icons/footer-border-form.svg),
        url(../images/icons/footer-layer-form.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, top left;
}
.send-content {
    display: flex;
    flex-direction: column;
    gap: 13px 0;
    h2 {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: var(--textColor-white);
    }

    p {
        max-width: 480px;
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
        color: var(--textColor-white);
    }
}
.form {
    label[for="email"] {
        input[type="email"] {
            width: 450px;
            padding: 20px 32px;
            background-color: var(--bgc-white);
            &::placeholder {
                line-height: 24px;
                color: var(--inputColor-dark-blue);
                opacity: 0.4;
            }
        }
    }
}
.footer-send {
    padding-top: 100px;
}
.footer-content {
    padding-top: 100px;
}
.content-inner {
    display: flex;
    justify-content: space-between;
}
.content-item:first-child {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    div {
        width: 36px;
        height: 34px;
    }
    h2 {
        max-width: 460px;
    }
    & > p {
        margin-top: 10px;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: var(--textColor-dark-blue);
    }

    address {
        display: flex;
        gap: 4px 0;
        flex-direction: column;
        a {
            font-size: 18px;
            line-height: 28px;
            color: var(--linkColor-dark-blue);
            font-weight: 400;
        }
        & a[href="#tomail:'hi@finsweet.com'"] {
            padding-bottom: 12px;
        }
        p {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: calc(0% - 2px);
                left: 0;
                width: 270px;
                height: 1px;
                background-color: gray;
                opacity: 0.08;
                transform: translate(0%, 0%);
            }
            padding-top: 12px;
            max-width: 210px;
            font-size: 14px;
            line-height: 20px;
            color: var(--textColor-dark-blue);
        }
    }
}
.content-nav {
    padding-top: 80px;
    padding-right: 117px;
    display: flex;
    gap: 0 60px;

    ul:first-child {
        display: flex;
        flex-direction: column;
        gap: 12px;
        a {
            font-weight: 600;
            line-height: 28px;
            color: var(--linkColor-dark-blue);
        }
    }
    ul:nth-child(2),
    ul:nth-child(3) {
        display: flex;
        flex-direction: column;
        gap: 12px;
        li:first-child {
            font-weight: 600;
            line-height: 28px;
        }
        a {
            line-height: 28px;
            color: var(--linkColor-dark-blue);
        }
    }
    a {
        position: relative;
    }
    a::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: var(--animationBgc-dark-blue);
        animation: hiddenBorder 0.3s cubic-bezier(0.35, 0.34, 0.72, 0.71)
            forwards;
    }

    a:hover::before {
        animation: showBorder 0.3s cubic-bezier(0.35, 0.34, 0.72, 0.71) forwards;
    }
}
@keyframes showBorder {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes hiddenBorder {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}
.content-item:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.content-item:last-child > a {
    line-height: 24px;
    color: var(--linkColor-dark-blue);
    text-transform: capitalize;
    padding: 0 30px 0 60px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(0%, -50%);
        width: 25px;
        height: 8px;
        background: url(../images/icons/arrow-black-2.svg) no-repeat;
    }
    /* СТРІЛКА???? */
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        width: 50px;
        height: 14px;
        background: url(../images/icons/footer-link-layer.svg) no-repeat;
    }
}
.footer-copy {
    margin-top: 60px;
    height: 80px;
    background: var(--bgc-orange);
}
.copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.copy-item {
    display: flex;
    align-items: center;
    gap: 0 40px;
    a {
        width: 120px;
        height: 24px;
    }
    p {
        height: 21px;
        line-height: 24px;
        color: var(--copyrightColor-dark-op90);
    }
}
.copy-nav {
    ul {
        display: flex;
        gap: 0 27px;
        height: 20px;
    }
    a {
        transition: transform 0.5s ease;
    }
    a:hover {
        transform: scale(1.2);
    }
}
